{% load static %}
<!DOCTYPE html>
<html lang="vi" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Cao Gừng Đẹp Dáng - Chính Sách Đổi Trả</title>
        <meta name="description" content="Cao Gừng Đẹp Dáng - Chính Sách Vận Chuyển" />
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="theme-color" content="#317EFB"/>
        <meta name="google-site-verification" content="K9d7tO7kYSrEC7nCxO93o5f9rw2N09yEeYIPKDZ1dLM" />
        <link href="https://fonts.googleapis.com/css?family=Baloo" rel="stylesheet" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />
        <link href="{% static 'css/theme-landingpage.css' %}" rel="stylesheet" />
    </head>
    <body>
        <div id="wap">

            <div id="section_0" class="pb-30">
                <div class="container">
                    <div class="text-center mb-30">
                        <a href="/">
                            <img class="lazyload" data-src="{% static 'images/logo-landingpage.png' %}"/>
                        </a>
                    </div>
                    <div class="title_header text-center font-bold c-w">
                        <h1>CHÍNH SÁCH ĐỔI TRẢ HÀNG VÀ HOÀN TIỀN</h1>
                    </div>
                </div>
            </div>

            <div class="full_width mt-30 pb-25 text-center size-36">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2">
                        </div>
                        <div class="col-lg-8">
                            <div class="bg_green note">
                                <div class="content">
                                    <p>Sản phẩm Cao Gừng được cung cấp bởi chúng tôi - Kho Hàng Sỉ ANN. Chúng tôi là Tổng Đại lý phân phối Cao gừng của Công ty Thiên Nhiên Việt.</p>
                                    <br>
                                    <p>I. Quý khách hàng được yêu cầu trả hàng và hoàn tiền trong trường hợp:</p>
                                    <p>- Sản phẩm bị lỗi hoặc bị hư hại trong quá trình vận chuyển.</p>
                                    <p>- Sản phẩm hết hạng sử dụng.</p>
                                    <p>- Quý khách bị kích ứng da (hoặc gặp các vấn đề sức khỏe ngoài da) khi sử dụng sản phẩm.</p>
                                    <p>- Quý khách phát hiện hàng giả, chúng tôi sẽ hoàn tiền gấp 10 lần giá trị đơn hàng.</p>
                                    <br>
                                    <p>II. Điều kiện về thời gian đổi trả: trong vòng 7 ngày kể từ khi nhận được hàng.</p>
                                    <br>
                                    <p>III. Điều kiện đổi trả: Còn hóa đơn mua hàng. Còn đầy đủ hộp sản phẩm. Còn tem chống hàng trả. Còn đầy đủ quà khuyến mãi nếu có.</p>
                                    <br>
                                    <p>IV. Thời gian nhận được tiền hoàn lại: Trong vòng 3 ngày kể từ lúc chúng tôi nhận được hàng trả.</p>
                                    <br>
                                    <p>V. Chi phí trả hàng: Chúng tôi chịu hoàn toàn phí vận chuyển hàng trả. Tiền phí vận chuyển sẽ được cộng vào tiền hoàn lại cho quý khách.</p>
                                    <br>
                                    <h4>VI. QUY TRÌNH TRẢ HÀNG VÀ HOÀN TIỀN:</h4>
                                    <p>Bước 1: Quý khách gọi hotline 0914615408 - 0915400401 để thông báo yêu cầu trả hàng.</p>
                                    <p>Bước 2: Quý khách đóng gói hàng trả, ghi rõ thông tin của mình và gửi hàng trả về địa chỉ:</p>
                                    <p><em>Kho Hàng Sỉ ANN</em></p>
                                    <p>Địa chỉ: 68 Đường C12, Phường 13, Tân Bình, TP. HCM</p>
                                    <p>Điện thoại: 0918567409 - 0915400401</p>
                                    <p>Bước 3: Chúng tôi nhận sản phẩm trả và kiểm tra sản phẩm.</p>
                                    <p>Bước 4: Chúng tôi sẽ chủ động liên hệ quý khách xin tài khoản ngân hàng để hoàn tiền (tối đa 3 ngày).</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                        </div>
                    </div>
                </div>
            </div>

            <div class="full_width pb-25 text-center size-36">
	            <div class="buybutton borderBlinktwo">
	                <a href="/gio-hang/1/">ĐẶT HÀNG NGAY</a>
	            </div>
	        </div>

            <div id="section_6" class="full_width">
                <div class="container pt-30 pb-30">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="note_ad">
                                <p>Tổng đại lý phân phối Cao Gừng công ty Thiên Nhiên Việt</p>
                                <p>Địa chỉ: 68 Đường C12, Phường 13, Tân Bình, TP.HCM</p>
                                <p>Điện thoại: 0914.615.408 - 0915.400.401</p>
                                <p>Email: tranyenngoc9x@gmail.com</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <ul class="menu">
                                <li><a href="/" rel="nofollow">Trang chủ</a></li>
                                <li><a href="/chinh-sach-doi-tra" rel="nofollow">Chính sách trả hàng và hoàn tiền</a></li>
                                <li><a href="/chinh-sach-van-chuyen" rel="nofollow">Chính sách vận chuyển</a></li>
                                <li><a href="/dieu-khoan-dieu-kien-thanh-toan" rel="nofollow">Điều khoản và điều kiện thanh toán</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.10/jquery.lazy.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.10/plugins/jquery.lazy.youtube.min.js"></script>
        <script type="text/javascript" charset="utf-8">
            $(function() {
                $('.lazyload').lazy();
                $('iframe[data-src]').Lazy();
            });
        </script>
    </body>
</html>