{% load static %}
<!DOCTYPE html>
<html lang="vi" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Cao Gừng Đẹp Dáng - Chính Sách Đổi Trả</title>
        <meta name="description" content="Cao Gừng Đẹp Dáng - Chính Sách Vận Chuyển" />
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="theme-color" content="#317EFB"/>
        <meta name="google-site-verification" content="K9d7tO7kYSrEC7nCxO93o5f9rw2N09yEeYIPKDZ1dLM" />
        <link rel="canonical" href="https://store.caogungdepdang.com/chinh-sach-doi-tra" />
        <link href="https://fonts.googleapis.com/css?family=Baloo" rel="stylesheet" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />
        <link href="{% static 'css/theme-landingpage.css' %}" rel="stylesheet" />
    </head>
    <body>
        <div id="wap">
            <div id="section_0" class="pb-30">
                <div class="container">
                    <div class="text-center mb-30">
                        <a href="https://store.caogungdepdang.com">
                            <img class="lazyload" data-src="{% static 'images/logo-landingpage.png' %}"/>
                        </a>
                    </div>
                    <div class="title_header text-center font-bold c-w">
                        <h1>CHÍNH SÁCH ĐỔI TRẢ HÀNG VÀ HOÀN TIỀN</h1>
                    </div>
                </div>
            </div>

            <div class="full_width pt-25 text-center font-bold size-36">
                <div class="container title_header">
                    <h3>MUA CAO GỪNG CÓ ĐƯỢC ĐỔI TRẢ HÀNG KHÔNG?</h3>
                </div>
            </div>

            <div class="full_width pb-25 text-center size-36">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2">
                        </div>
                        <div class="col-lg-8">
                            <div class="bg_orange note">
                                <div class="content">
                                    <p>Quý khách có quyền từ chối nhận hàng khi hàng giao đến địa chỉ. Lưu ý, sản phẩm phải chưa qua sử dụng và còn nguyên bao bì, tem mạc.</p>
                                    <p>Ngoài ra, chúng tôi nhận trả hàng và hoàn tiền trong trường hợp quý khách bị kích ứng da sau khi sử dụng trong vòng 7 ngày.</p>
                                    <p>Đặc biệt, nếu quý khách phát hiện hàng giả, chúng tôi sẽ hoàn tiền gấp 10 lần giá trị đơn hàng.</p>
                                    <p>Tiền hoàn lại được chi trả trong vòng 3 ngày kể từ lúc chúng tôi nhận được hàng trả.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                        </div>
                    </div>
                </div>
            </div>

            <div class="full_width text-center font-bold size-36">
                <div class="container title_header">
                    <h3>LÀM SAO ĐỂ TRẢ HÀNG?</h3>          
                </div>
            </div>

            <div class="full_width pb-25 text-center size-36">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2">
                        </div>
                        <div class="col-lg-8">
                            <div class="bg_orange note">
                                <div class="content">
                                    <p>Quý khách vui lòng gửi hàng về địa chỉ của chúng tôi qua đường Bưu điện.</p>
                                    <p>Địa chỉ: 68 Đường C12, Phường 13, Tân Bình, TP. HCM</p>
                                    <p>Điện thoại: 0914.615.408</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                        </div>
                    </div>
                </div>
            </div>

            <div class="full_width pb-25 text-center size-36">
	            <div class="buybutton borderBlinktwo">
	                <a href="https://store.caogungdepdang.com/#form_box">ĐẶT HÀNG NGAY</a>
	            </div>
	        </div>

            <div id="section_6" class="full_width">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                        </div>
                        <div class="col-lg-4">
                            <ul class="menu">
                            	<li><a href="https://store.caogungdepdang.com" rel="nofollow">Trang chủ</a></li>
                                <li><a href="https://store.caogungdepdang.com/chinh-sach-van-chuyen" rel="nofollow">Chính sách vận chuyển</a></li>
                                <li><a href="https://store.caogungdepdang.com/chinh-sach-doi-tra" rel="nofollow">Chính sách đổi trả hàng</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-4">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.10/jquery.lazy.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.10/plugins/jquery.lazy.youtube.min.js"></script>
        <script type="text/javascript" charset="utf-8">
            $(function() {
                $('.lazyload').lazy();
                $("iframe[data-src]").Lazy();
            });
        </script>
    </body>
</html>