{% load static %}
<!DOCTYPE html>
<html lang="vi" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Cao Gừng Đẹp Dáng - Chính Sách Đổi Trả</title>
        <meta name="description" content="Cao Gừng Đẹp Dáng - Chính Sách Vận Chuyển" />
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="theme-color" content="#317EFB"/>
        <meta name="google-site-verification" content="K9d7tO7kYSrEC7nCxO93o5f9rw2N09yEeYIPKDZ1dLM" />
        <link href="https://fonts.googleapis.com/css?family=Baloo" rel="stylesheet" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />
        <link href="{% static 'css/theme-landingpage.css' %}" rel="stylesheet" />
    </head>
    <body>
        <div id="wap">
            
            <div id="section_0" class="pb-30">
                <div class="container">
                    <div class="text-center mb-30">
                        <a href="/">
                            <img class="lazyload" data-src="{% static 'images/logo-landingpage.png' %}"/>
                        </a>
                    </div>
                    <div class="title_header text-center font-bold c-w">
                        <h1>ĐIỀU KHOẢN VÀ ĐIỀU KIỆN THANH TOÁN</h1>
                    </div>
                </div>
            </div>

            <div class="full_width mt-30 pb-25 text-center size-36">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2">
                        </div>
                        <div class="col-lg-8">
                            <div class="bg_green note">
                                <div class="content">
                                    <h4>I. ĐỐI TƯỢNG, GIỚI HẠN ĐỘ TUỔI</h4>
                                    <p>Các phương thức thanh toán của chúng tôi chỉ áp dụng cho khách hàng trên 18 tuổi.</p>
                                    <br>
                                    <h4>II. PHƯƠNG THỨC THANH TOÁN</h4>
                                    <p>1. Thanh toán khi nhận hàng (COD): quý khách sẽ trả tiền mặt trực tiếp cho nhân viên giao hàng khi nhận hàng.</p>
                                    <p>2. Chuyển khoản: quý khách chuyển khoản trước và nhận hàng sau. Tài khoản: </p>
                                    <p>Ngân hàng Vietcombank</p>
                                    <p>Tên tài khoản: Trần Yến Ngọc</p>
                                    <p>Số tài khoản: 0111000213728</p>
                                    <br>
                                    <h4>III. XÁC NHẬN THANH TOÁN CHUYỂN KHOẢN</h4>
                                    <p>Sau khi khách hàng chuyển khoản 30 phút, nhân viên bán hàng sẽ gọi điện thoại để xác nhận và tiến hành xử lý đơn hàng.</p>
                                    <br>
                                    <h4>IV. CHÍNH SÁCH BẢO MẬT THÔNG TIN</h4>
                                    <p>1. Mục đích và phạm vi thu thập thông tin:</p>
                                    <p>Thông tin cá nhân bao gồm: Họ và tên, số điện thoại, địa chỉ của bạn mà chúng tôi có được trong quá trình giao dịch chỉ sử dụng cho các mục đích sau: </p>
                                    <p>- Gọi xác nhận đặt hàng.</p>
                                    <p>- Tư vấn và giải đáp thắc mắc (nếu có).</p>
                                    <p>- Cập nhật các thông tin mới nhất về Chương trình khuyến mãi (nếu có).</p>
                                    <p>2. Phạm vi sử dụng thông tin</p>
                                    <p>Chúng tôi cam kết chỉ sử dụng cho mục đích và phạm vi đã nêu và không tiết lộ cho bất kỳ bên thứ ba nào khi chưa có sự đồng ý bằng văn bản của Quý khách. Tuy nhiên, chúng tôi được quyền cung cấp thông tin cá nhân của Quý khách trong trường hợp có yêu cầu từ các cơ quan Nhà nước có thẩm quyền.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                        </div>
                    </div>
                </div>
            </div>

            <div class="full_width pb-25 text-center size-36">
	            <div class="buybutton borderBlinktwo">
	                <a href="/gio-hang/1/">ĐẶT HÀNG NGAY</a>
	            </div>
	        </div>

            <div id="section_6" class="full_width">
                <div class="container pt-30 pb-30">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="note_ad">
                                <p>Tổng đại lý phân phối Cao Gừng công ty Thiên Nhiên Việt</p>
                                <p>Địa chỉ: 68 Đường C12, Phường 13, Tân Bình, TP.HCM</p>
                                <p>Điện thoại: 0914.615.408 - 0915.400.401</p>
                                <p>Email: tranyenngoc9x@gmail.com</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <ul class="menu">
                                <li><a href="/" rel="nofollow">Trang chủ</a></li>
                                <li><a href="/chinh-sach-doi-tra" rel="nofollow">Chính sách trả hàng và hoàn tiền</a></li>
                                <li><a href="/chinh-sach-van-chuyen" rel="nofollow">Chính sách vận chuyển</a></li>
                                <li><a href="/dieu-khoan-dieu-kien-thanh-toan" rel="nofollow">Điều khoản và điều kiện thanh toán</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.10/jquery.lazy.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.10/plugins/jquery.lazy.youtube.min.js"></script>
        <script type="text/javascript" charset="utf-8">
            $(function() {
                $('.lazyload').lazy();
                $('iframe[data-src]').Lazy();
            });
        </script>
    </body>
</html>