{% load static %}
<!DOCTYPE html>
<html lang="vi" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Cao Gừng Chính Hãng Mua Ở Đâu? Cao Gừng Tan Mỡ</title>
        <meta name="description" content="Cao Gừng Chính Hãng Mua Ở Đâu? Đến ngay Tổng Đại Lý Phân Phối Cao Gừng Thiên Nhiên Việt - ANN khu vực TPHCM để mua cao gừng tan mỡ hàng chính hãng!" />
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="theme-color" content="#317EFB"/>
        <meta name="google-site-verification" content="K9d7tO7kYSrEC7nCxO93o5f9rw2N09yEeYIPKDZ1dLM" />
        <link rel="canonical" href="https://caogungdepdang.com/" />
        <link href="https://fonts.googleapis.com/css?family=Baloo" rel="stylesheet" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />
        <link href="{% static 'css/theme-landingpage.css' %}" rel="stylesheet" />
    </head>
    <body>
        <script type="application/ld+json"> 
            {
                "@context": "https://schema.org/",
                "@type": "Product",
                "name": "Cao gừng tan mỡ giảm cân chính hãng",
                "image": [
                    "https://caogungdepdang.com/static/product-images/cao-gung-chinh-hang-thien-nhien-viet.png",
                    "https://caogungdepdang.com/static/product-images/cao-gung-dep-dang.jpg",
                    "https://caogungdepdang.com/static/product-images/cao-gung-giam-mo-bung.png",
                    "https://caogungdepdang.com/static/product-images/cao-gung-tan-mo-bung-chinh-hang.png",
                    "https://caogungdepdang.com/static/product-images/cao-gung-tan-mo-logo-banner.png"
                ],
                "description": "Cao Gừng Chính Hãng Mua Ở Đâu? Đến ngay Tổng Đại Lý Phân Phối Cao Gừng Thiên Nhiên Việt - ANN khu vực TPHCM để mua hàng chính hãng đảm bảo uy tín! Cao gừng tan mỡ bung, giảm cân an toàn.",
                "sku": "CG0001",
                "mpn": "CG0001",
                "brand": {
                    "@type": "Thing",
                    "name": "Cao Gừng Đẹp Dáng"
                },
                "review": 
                    [
                        {
                            "@type": "Review",
                            "reviewRating": {
                                "@type": "Rating",
                                "ratingValue": "3.0",
                                "bestRating": "5"
                            },
                            "author": {
                                "@type": "Person",
                                "name": "Cao Gừng Giảm Mỡ"
                            }
                        },
                        {
                            "@type": "Review",
                            "reviewRating": {
                                "@type": "Rating",
                                "ratingValue": "3.5",
                                "bestRating": "5"
                            },
                            "author": {
                                "@type": "Person",
                                "name": "Cao gừng"
                            }
                        },
                        {
                            "@type": "Review",
                            "reviewRating": {
                                "@type": "Rating",
                                "ratingValue": "4.0",
                                "bestRating": "5"
                            },
                            "author": {
                                "@type": "Person",
                                "name": "Anh Hoang"
                            }
                        },
                        {
                            "@type": "Review",
                            "reviewRating": {
                                "@type": "Rating",
                                "ratingValue": "4.5",
                                "bestRating": "5"
                            },
                            "author": {
                                "@type": "Person",
                                "name": "Yen Ngoc"
                            }
                        },
                        {
                            "@type": "Review",
                            "reviewRating": {
                                "@type": "Rating",
                                "ratingValue": "4.0",
                                "bestRating": "5"
                            },
                            "author": {
                                "@type": "Person",
                                "name": "Bich Tram"
                            }
                        }
                    ]
                ,
                "aggregateRating": {
                    "@type": "AggregateRating",
                    "ratingValue": "4.5",
                    "reviewCount": "4"
                },
                "offers": {
                    "@type": "Offer",
                    "url": "https://caogungdepdang.com",
                    "priceCurrency": "VND",
                    "price": "380000",
                    "priceValidUntil": "2020-03-06",
                    "itemCondition": "https://schema.org/NewCondition",
                    "availability": "https://schema.org/InStock",
                    "seller": {
                        "@type": "Organization",
                        "name": "Cao Gừng Tan Mỡ Bụng ANN",
                        "url": "https://caogungdepdang.com"
                    }
                }
            }
        </script>
        <div id="wap">
            <div id="section_0">
                <div class="container">
                    <div class="text-center mb-30">
                        <a href="/">
                            <img class="lazyload" data-src="{% static 'images/logo-landingpage.png' %}"/>
                        </a>
                    </div>
                    <div class="title_header text-center font-bold c-w">
                        <h1>HƠN 125.000 KHÁCH HÀNG TIN DÙNG CAO GỪNG</h1>
                    </div>
                    <div class="row mb-30">
                        <div class="col-lg-6 product-description">
                            <div class="box_info_pro">
                                <h2 class="h2_title">CAO GỪNG - Kem tan mỡ gừng giảm cân an toàn và hiệu quả</h2>
                                <p class="pb-25">Không cần phải nói nhiều!</p>
                                <p class="pb-25">Gần nữa năm nay, CAO GỪNG chính là sản phẩm giảm cân - tan mỡ bụng hot và hiệu quả nhất thị trường làm đẹp. Bằng chứng là hàng nghìn sản phẩm tiêu thụ mỗi ngày, đem đến cơ hội làm đẹp an toàn cho mọi khách hàng.</p>
                                <img class="lazyload" alt="Cao gừng giảm mỡ bụng giảm cân" data-src="{% static 'images/cao-gung-giam-mo.jpg' %}"/>
                                <div class="price_">Giá: 380.000</div>
                                <div class="des_h">
                                    <p class="instock">Còn hàng</p>
                                </div>
                                {% if sku %}
                                <div class="des_h">
                                    <p class="instock sku">Mã: {{ sku }}</p>
                                </div>
                                {% endif %}
                                <div class="more_ mt-30">
                                    <a href="/gio-hang/1/">MUA NGAY</a>
                                </div>
                                <div class="des_h mt-30">
                                    <p class="instock">Thanh toán khi nhận hàng</p>
                                    <p class="instock">Miễn phí vận chuyển</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <iframe width="100%" height="420" data-loader="youtube" data-src="fut74JgGIrg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <div class="more_ mt-30 mb-30">
                                <a href="tel:0914615408">HOTLINE: 0915.400.401</a>
                            </div>
                            <div class="more_ mt-30">
                                <a href="tel:0914615408">HOTLINE: 0914.615.408</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="section_01">
                <div class="container">
                    <div class="title_header size-36 text-center line-h40 mb-30">
                        <h3>GIẢM NGAY 3 - 5cm NGAY TẠI NHÀ BẠN</h3>
                        <div class="line"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="box_collum box_1">
                                <img class="lazyload" alt="Giảm cân an toàn cho bà mẹ sau sinh, giúp dưỡng da săn chắc." data-src="{% static 'images/img-1.jpg' %}"/>
                                <span>Giảm cân an toàn cho bà mẹ sau sinh, giúp dưỡng da săn chắc.</span>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="box_collum box_1">
                                <img class="lazyload" alt="Không cần phải ăn kiêng, không phải vào phòng tập mỗi ngày." data-src="{% static 'images/img-2.jpg' %}"/>
                                <span>Không cần phải ăn kiêng, không phải vào phòng tập mỗi ngày.</span>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="box_collum box_1">
                                <img class="lazyload" alt="Sử dụng 20p - 30p mỗi ngày giảm ngay 3-5cm vòng eo, bắp tay chân." data-src="{% static 'images/img-3.jpg' %}"/>
                                <span>Sử dụng 20p - 30p mỗi ngày giảm ngay 3-5cm vòng eo, bắp tay chân.</span>
                            </div>
                        </div>
                    </div>
                </div>
            
                <div class="section_1">
                    <div class="container">                        
                            <div class="mt-20">
                                <div class="row">
                                    <div class="col-lg-7">
                                        <div class="title_header size-36 text-center line-h40 mt-20 mb-20">
                                            <h3>CAO GỪNG – SẢN PHẨM HIỆU QUẢ HỖ TRỢ BẠN:</h3>
                                        </div>  
                                        <div class="bg_green_1 note content mb-20">
                                            <p>- Loại bỏ lớp mỡ thừa lâu năm dưới da</p>
                                            <p>- Cải thiện vóc dáng thon gọn</p>
                                            <p>- Ngăn chặn sự tăng cân trở lại</p>
                                            <p>- Cung cấp dưỡng chất giúp da săn chắc</p>
                                            <p>- Hỗ trợ điều trị các vết nứt, rạn da sau khi sinh</p>
                                        </div>
                                        <span class="full_width size-16 text-center color-gray mt-20 mb-20"><strong>AN TOÀN, AN TOÀN VÀ AN TOÀN</strong>. Tại sao chúng tôi nhắc nhiều đến vấn đề an toàn đến vậy?</span>
                                        <span class="full_width size-16 text-center color-gray mb-20">Nếu không an toàn, chúng tôi sẽ không giới thiệu sản phẩm này cho bạn. Vì chúng tôi chỉ là <strong>Tổng đại lý phân phối</strong> chứ không phải nhà sản xuất nên cái gì tốt mới bán (vì chúng tôi còn bán nhiều sản phẩm khác, nếu trong đó có một sản phẩm không an toàn thì chắc chắn sẽ mất uy tín và các sản phẩm khác cũng bị vạ lây).</span>
                                        <span class="full_width size-16 text-center color-gray mb-20">Trước khi nhận phân phối sản phẩm này, chúng tôi đã thử nghiệm trên 30 người (nhân viên công ty, bạn bè, người thân). Kết quả thử nghiệm đạt một đạt hiệu quả nhất định (có người này giảm 3cm, người kia 5cm, người hiệu quả nhất giảm đến 10cm), đặc biệt là nó cực kỳ an toàn, không người nào bị dị ứng.</span>
                                        <div class="ico_bot"></div>

                                    </div>
                                    <div class="col-lg-5">
                                        <img class="lazyload" alt="Kem cao gừng thiên nhiên việt" data-src="{% static 'images/san-pham-cao-gung.png' %}"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>  

            <div class="full_width pt-25 pb-25 text-center font-bold size-36">
                <div class="container title_header">
                    <h3>THÀNH PHẦN TỪ THIÊN NHIÊN - AN TOÀN CHO SỨC KHỎE</h3>   
                    <div class="line"></div>           
                </div>
            </div>

            <div class="container">
                <div class="full_width mt-20">
                    <img class="lazyload" alt="Thành phần cao gừng giảm mỡ" data-src="{% static 'images/thanh-phan-cao-gung.jpg' %}"/>
                </div>
            </div>

            <div class="full_width pt-25 pb-25 text-center font-bold size-36">
                <div class="container title_header">
                    <h3>SỬ DỤNG CAO GỪNG CÓ CẦN TẬP THỂ DỤC KHÔNG?</h3>   
                    <div class="line"></div>        
                </div>
            </div>

            <div class="full_width pt-25 pb-25 text-center size-36">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2">
                        </div>
                        <div class="col-lg-8">
                            <div class="bg_orange note">
                                <div class="content">
                                    <p>Tất nhiên là có bạn nhé! Từ bao đời nay tập thể dục vẫn luôn là phương pháp giữ gìn sức khỏe và vóc dáng hiệu quả nhất. Hãy dành 30 phút mỗi ngày để tập thể dục và kết hợp sử dụng cao gừng. Chắc chắn bạn sẽ nhanh chóng đạt được vòng eo như ý!</p>
                                    <p>Vậy nếu không có thời gian tập hoặc lười tập (hoặc không biết tập như thế nào) thì sao? Tin mừng, đã có một giải pháp thay thế cho bạn. Đó chính là sử dụng cao gừng kết hợp <strong>đai nịt bụng</strong>. Sau khi thoa cao gừng lên da, Massage da 5 phút, sau đó dùng đai nịt bụng lại để giữ nhiệt tỏa ra từ da ít nhất 30 phút, giúp hiệu quả tăng gấp đôi.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="full_width mt-20 mb-30 centerall">
                    <img class="lazyload" alt="Tập thể dục giảm cân" data-src="{% static 'images/tap-the-duc.jpg' %}"/>
                </div>
                <div class="text-center pb-25">
                    <img class="lazyload" alt="Quà tặng cao gừng giảm cân" data-src="{% static 'images/qua-tang.jpg' %}"/>
                </div>
            </div>

            <div class="full_width mt-20 mb-30">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="col-inner mt-20">
                                <div class="img has-hover x md-x lg-x y md-y lg-y">
                                    <div class="img-inner dark">
                                        <img class="lazyload" alt="Cao gừng chính hãng" data-src="{% static 'images/combo-1-hop-cao-gung.jpg' %}"/>
                                    </div>
                                </div>
                                <div class="pricing-table-wrapper">
                                    <div class="pricing-table ux_price_table text-center box-shadow-3-hover">
                                        <div class="pricing-table-header">
                                            <div class="title uppercase strong">1 hộp Cao Gừng</div>
                                            <div class="price is-xxlarge">380,000 vnd/hộp</div>
                                        </div>
                                        <div class="pricing-table-items items">
                                            <div class="bullet-item"><span class="text">Dùng 1 tháng</span></div>
                                            <div class="bullet-item"><span class="text">Miễn phí giao hàng</span></div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="buybutton borderBlinktwo">
                                <a href="/gio-hang/1/">MUA NGAY</a>                    
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="col-inner featured-table mt-20">
                                <div class="img has-hover x md-x lg-x y md-y lg-y">
                                    <div class="img-inner dark">
                                        <img class="lazyload" alt="Cao gừng chính hãng" data-src="{% static 'images/combo-2-hop-cao-gung.jpg' %}"/>
                                    </div>
                                </div>
                                <div class="pricing-table-wrapper">
                                    <div class="pricing-table ux_price_table text-center box-shadow-3-hover">
                                        <div class="pricing-table-header">
                                            <div class="title uppercase strong">Combo 2 hộp Cao Gừng</div>
                                            <div class="price is-xxlarge">760,000 vnd/2 hộp</div>
                                        </div>
                                        <div class="pricing-table-items items">
                                            <div class="bullet-item"><span class="text">Dùng 2 tháng</span></div>
                                            <div class="bullet-item"><span class="text">Miễn phí giao hàng</span></div>
                                            <div class="bullet-item"><span class="text strong">Tặng 1 đai nịt bụng 180.000 vnd</span></div>
                                            <div class="bullet-item"><span class="text strong">*Khuyên chọn</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="buybutton borderBlinktwo">
                                <a href="/gio-hang/2/">MUA NGAY</a>                    
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="col-inner mt-20">
                                <div class="img has-hover x md-x lg-x y md-y lg-y">
                                    <div class="img-inner dark">
                                        <img class="lazyload" alt="Cao gừng chính hãng" data-src="{% static 'images/combo-2-hop-cao-gung.jpg' %}"/>
                                    </div>
                                </div>
                                <div class="pricing-table-wrapper">
                                    <div class="pricing-table ux_price_table text-center box-shadow-3-hover">
                                        <div class="pricing-table-header">
                                            <div class="title uppercase strong">Combo 3 hộp Cao Gừng</div>
                                            <div class="price is-xxlarge">915,000 vnd/3 hộp</div>
                                        </div>
                                        <div class="pricing-table-items items">
                                            <div class="bullet-item is-disabled"><span class="text">Giá gốc 1,140,000 vnd/3 hộp</span></div>
                                            <div class="bullet-item"><span class="text">Dùng 3 tháng</span></div>
                                            <div class="bullet-item"><span class="text strong">Tính ngay giá sỉ</span></div>
                                            <div class="bullet-item"><span class="text">Miễn phí giao hàng</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="buybutton borderBlinktwo">
                                <a href="/gio-hang/3/">MUA NGAY</a>                    
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="full_width mt-30 mb-30">
                <hr />
            </div>

            <div id="section_01">
                <div classs="section_2 full_width mb-30">
                    <div class="container">
                        <div class="title_header size-36 text-center line-h40 mt-20">
                            <h3><span>HƯỚNG DẪN</span> SỬ DỤNG</h3>
                        </div>
                        <div class="mt-20 mt-20 p-0-50">
                            <div class="bg_green note">
                                <div class="content">
                                    <p><b>Bước 1:</b> Thoa cao lên vùng da cần tan mỡ vào buổi sáng và tối, mỗi ngày 2 lần.</p>
                                    <p><b>Bước 2:</b> Massage nhẹ nhàng kem trên vùng da khoảng 15-20 phút, để kem thẩm thấu vào sâu bên trong.</p>
                                    <p>Lưu ý, những ngày đầu quý khách nên thoa ít để làm quen dần và tăng dần những ngày sau.</p>
                                    <p><i><b>ĐẶT BIỆT:</b> Kết hợp đai nịt để đạt được hiệu quả gấp đôi.</i></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="">
                    <div class="container">
                        <div class="title_header size-36 text-center line-h40 mt-30">
                            <h3>TẠI SAO <span>NÊN CHỌN CAO GỪNG</span>?</h3>
                        </div>
                        <div class="mt-20 p-0-50">
                            <div class="row">
                                <div class="col-md-6 clear_left img_sp_tincay">
                                    <img class="lazyload" alt="Cao gừng chính hãng" data-src="{% static 'images/cao-gung.png' %}"/>
                                </div>
                                <div class="col-md-6 nopadding">
                                    <div class="divarow">
                                        <p>ĐIỂM NỔI BẬT CỦA SẢN PHẨM NÀY</p>
                                        <span><i class="fa fa-check"></i> Vòng eo giảm từ 3 - 5 cm ngay tại nhà bạn.</span>
                                        <span><i class="fa fa-check"></i> Ngăn chặn chảy xệ và chùng nhão của da.</span>
                                        <span><i class="fa fa-check"></i> Hỗ trợ điều trị các vết sạn, nứt trên da. Đặt biệt đối với phụ nữ sau sinh.</span>
                                        <span><i class="fa fa-check"></i> Cải thiện làn da săn chắc, khỏe mạnh hơn.</span>
                                        <span><i class="fa fa-check"></i> Bảo đảm hàng 100% chính hãng, phát hiện hàng giả -> hoàn tiền gấp mười.</span>
                                        <span><i class="fa fa-check"></i> Được cấp giấy chứng nhận và kiểm tra mã vạch chống hàng giả, hàng nhái từ BỘ CÔNG AN.</span>
                                        <span><i class="fa fa-check"></i> Đổi trả ngay trong 7 ngày nếu gây kích ứng.</span>
                                        
                                        <h4 class="h4_title">TẠI SAO BẠN PHẢI MUA HÀNG NGAY TRÊN TRANG CHÚNG TÔI?</h4>
                                        <span>- Hiện trên thị trường có rất nhiều hàng nhái và kém chất lượng. Sản phẩm nhái có giá thường thấp hơn 300.000đ, nó đánh vào tâm lý ham rẻ hoặc chưa từng tiếp xúc hàng chính hàng của nhiều người. Khi bạn dùng sản phẩm này, chẵn những không hiệu quả mà nó còn gây hậu quả không lường trước được.</span>
                                    </div>
                                </div>
                            </div> 
                            <div class="full_width _box_hgn mt-15">
                                <h4 class="h4_subtitle">Đã có rất nhiều khách hàng mua sản phẩm không phải trên trang chính của chúng tôi và phản hồi lại:</h4>
                                <span>- Tại sao tư vấn thoa lên nóng mà lại không nóng?</span>
                                <span>- Tại sao chiết xuất từ gừng và nghệ mà lại không nghe mùi thơm từ gừng, nghệ?</span>
                                <span>- Tại sao dùng 3 hộp rồi mà không thấy thay đổi gì?</span>
                                <span>- Và nhiều câu hỏi khác…</span>
                            </div>          
                        </div>  
                        
                    </div>
                </div>
                
                <div class="container">
                    <div class="title_header size-36 text-center line-h40 mt-30">
                        <h3><span>ĐỂ TRÁNH MUA PHẢI HÀNG GIẢ, HÀNG KÉM CHẤT LƯỢNG</span>, QUÝ KHÁCH LƯU Ý CÁCH PHÂN BIỆT:</h3>
                    </div>
                    <div class="mt-20 mb-30 p-0-50">
                        <div class="row">
                            <div class="col-md-6 clear_left img_sp_tincay img_tg">
                                <img class="text-center lazyload" alt="Cao gừng chính hãng" data-src="{% static 'images/hang-that.jpg' %}"/>
                                <div class="divarow">
                                    <p>Hàng Thật</p>
                                    <span><i class="fa fa-check"></i> Giá niêm yết duy nhất tại tất cả hệ thống là 380k.</span>
                                    <p>Chương trình khuyến mãi:</p>
                                    <span><i class="fa fa-check"></i> Mua 1 hộp miễn phí vận chuyển.</span>
                                    <span><i class="fa fa-check"></i> Mua 2 hộp tặng thêm đai nịt bụng trị giá 180k.</span>
                                    <span><i class="fa fa-check"></i> Mua 3 hộ được giá sỉ.</span>
                                    <span><i class="fa fa-check"></i> Trên sản phẩm có mã nhà phân phối, mã vạch, tem chống hàng giả đầy đủ.</span>
                                    <span><i class="fa fa-check"></i> Khi thoa lên cảm giác sẽ nóng dần lên do chiết xuất từ gừng tươi nguyên chất.</span>
                                </div>
                            </div>
                            <div class="col-md-6 clear_left img_sp_tincay img_tg">
                                <img class="text-center lazyload" alt="Cao gừng hàng nhái" data-src="{% static 'images/hang-nhai.jpg' %}"/>
                                <div class="divarow">
                                    <p>Hàng Giả</p>
                                    <span><i class="fa fa-times"></i> Giá luôn luôn thấp hơn 380.000đ và nhiều quà tặng kèm theo.</span>
                                    <p>Chương trình khuyến mãi:</p>
                                    <span><i class="fa fa-times"></i> Chương trình khuyến mãi mua 1 hộp tặng son, nước hoa…</span>
                                    <span><i class="fa fa-times"></i> Có nhiều quà tặng hơn giá thành thấp.</span>
                                    <span><i class="fa fa-times"></i> Khi thoa lên không có cảm giác nóng hoặc có cảm giác nóng nhưng hăng, rất khó chịu.</span>
                                    <span><i class="fa fa-times"></i> Sử dụng mấy hộp mà không có thay đổi gì.</span>
                                </div>
                            </div>
                        </div>                  
                    </div>  
                </div>
            </div>
            
            <div class="container">
                <div class="full_width mt-20 mb-30">
                    <p><img class="lazyload" alt="Cao gừng giảm mỡ" data-src="{% static 'images/san-pham-gia.jpg' %}"/></p>
                    <p><img class="lazyload" alt="Cao gừng giảm mỡ" data-src="{% static 'images/cao-gung-1.jpg' %}"/></p>
                    <p><img class="lazyload" alt="Cao gừng giảm mỡ" data-src="{% static 'images/cao-gung-2.jpg' %}"/></p>
                    <p><img class="lazyload" alt="Cao gừng giảm mỡ" data-src="{% static 'images/cao-gung-3.jpg' %}"/></p>
                    <p><img class="lazyload" alt="Cao gừng giảm mỡ" data-src="{% static 'images/cao-gung-4.jpg' %}"/></p>
                </div>
            </div>

            <div class="full_width mt-20 mb-30">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <iframe width="100%" height="315" data-loader="youtube" data-src="Ja7c54HQVYs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class="col-md-6">
                            <iframe width="100%" height="315" data-loader="youtube" data-src="JEAr98LwOBk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>

            <div id="section_fb" class="full_width">
                <div class="container">
                    <div class="title_header size-36 text-center line-h40 mt-40 mb-10">
                        <span>MỘT SỐ PHẢN HỒI</span> CỦA KHÁCH HÀNG
                    </div>
                    <div class="pt-15 pb-10">
                        <img class="lazyload p-0-50" alt="Feedbank cao gừng giảm mỡ" data-src="{% static 'images/feedback_1.jpg' %}"/>
                    </div>
                </div>
            </div>

            <div class="full_width mt-30 mb-30">
                <hr />
            </div>

            <div id="section_4" class="full_width">
                <div class="container">
                    <div class="title_header size-36 text-center line-h40 mt-20">
                    <h3><span>ĐÁNH GIÁ</span> CỦA NGƯỜI NỔI TIẾNG</h3>
                    </div>
                    <div class="mt-20 text-center p-0-50">
                        <div class="row">
                            <div class="col-lg-8">
                                <iframe width="100%" height="400" data-loader="youtube" data-src="3rCHBUTXoyw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                            <div class="col-lg-4">
                                <img class="lazyload" alt="Feedbank cao gừng giảm mỡ" data-src="{% static 'images/cat-tuong-review.png' %}"/>
                                 <i>"Do tính chất công việc luôn bận rộn nên Tường thường không có thời gian cho việc thể thao. Đăng ký đi tập Yoga nhưng 8 năm Tường chưa đến 1 lần. Hiện Tường dùng Cao Gừng để giúp vòng eo trong thon gọng và săn chắc hơn."</i>
                                <div class="title_rev">
                                    MC - Diễn viên CÁT TƯỜNG
                                </div>
                            </div>
                        </div>

                        <div class="row pt-30">
                            <div class="col-lg-8">
                                <iframe width="100%" height="400" data-loader="youtube" data-src="DCxkxQNfz4s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                            <div class="col-lg-4">
                                <img class="lazyload" alt="Feedbank cao gừng giảm mỡ" data-src="{% static 'images/kha-nhu-review.png' %}"/>
                                <i>"Mèo thường không có thời gian để tập thể dục hay Yoga. Để giữ được thân hình cân đối Mèo đã dùng sản phẩm Cao Gừng Tan Mỡ. Mỗi ngày chỉ mất khoản 20-30 phút sáng và tối thoa Cao lên vùng mỡ thừa thôi mà giờ Mèo đã giảm được 5kg."</i>
                                <div class="title_rev">
                                    Diễn viên KHẢ NHƯ
                                </div>
                            </div>
                        </div>

                        <div class="row pt-30">
                            <div class="col-lg-8">
                                <iframe width="100%" height="400" data-loader="youtube" data-src="VL9KL6u2sXg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                            <div class="col-lg-4">
                                <img class="lazyload" alt="Feedbank cao gừng giảm mỡ" data-src="{% static 'images/kha-ly-review.png' %}"/>
                                <i>"Các bạn có biết lý do vì sau Ly vẫn giữ được dáng không vì hiện tại ngày nào Ly cũng sử dụng Cao Gừng để giúp cho Ly không bị mỡ thừa và tăng cân. Mỗi ngày chỉ mất 10-20 phút thoa kem và massa thôi nhé."</i>
                                <div class="title_rev">
                                    Diễn viên KHA LY
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="full_width mt-30 mb-30">
                    <div class="col-lg-4">
                        <div class="gift-1 bg-green-4 box-green">
                            <p>Tư vấn miễn phí</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="gift-1 bg-green-5 box-green">
                            <p>Giao hàng tận nơi</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="gift-1 bg-green-6 box-green">
                            <p>Nhận hàng thanh toán</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="full_width mt-30 pb-25 text-center size-36">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2">
                        </div>
                        <div class="col-lg-8">
                            <div class="bg_green note">
                                <div class="content">
                                    <h4>PHƯƠNG THỨC THANH TOÁN</h4>
                                    <p>1. Thanh toán khi nhận hàng (COD): quý khách sẽ trả tiền mặt trực tiếp cho nhân viên giao hàng khi nhận hàng.</p>
                                    <p>2. Chuyển khoản: quý khách chuyển khoản trước và nhận hàng sau. Tài khoản: </p>
                                    <p>Ngân hàng Vietcombank</p>
                                    <p>Tên tài khoản: Trần Yến Ngọc</p>
                                    <p>Số tài khoản: 0111000213728</p>
                                    <br>
                                    <h4>XÁC NHẬN THANH TOÁN CHUYỂN KHOẢN</h4>
                                    <p>Nếu quý khách thanh toán bằng cách chuyển khoản. Sau khi khách hàng chuyển khoản 30 phút, nhân viên bán hàng sẽ gọi điện thoại để xác nhận và tiến hành xử lý đơn hàng.</p>
                                    <br>
                                    <p><a href="/dieu-khoan-dieu-kien-thanh-toan" rel="nofollow">Xem thêm Điều khoản và điều kiện thanh toán</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                        </div>
                    </div>
                </div>
            </div>

            <div id="section_6" class="full_width">
                <div class="container pt-30 pb-30">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="note_ad">
                                <p>Tổng đại lý phân phối Cao Gừng công ty Thiên Nhiên Việt</p>
                                <p>Địa chỉ: 68 Đường C12, Phường 13, Tân Bình, TP.HCM</p>
                                <p>Điện thoại: 0914.615.408 - 0915.400.401</p>
                                <p>Email: tranyenngoc9x@gmail.com</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <ul class="menu">
                                <li><a href="/" rel="nofollow">Trang chủ</a></li>
                                <li><a href="/chinh-sach-doi-tra" rel="nofollow">Chính sách trả hàng và hoàn tiền</a></li>
                                <li><a href="/chinh-sach-van-chuyen" rel="nofollow">Chính sách vận chuyển</a></li>
                                <li><a href="/dieu-khoan-dieu-kien-thanh-toan" rel="nofollow">Điều khoản và điều kiện thanh toán</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.10/jquery.lazy.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.10/plugins/jquery.lazy.youtube.min.js"></script>
        <script type="text/javascript" charset="utf-8">
            $(function() {
                $('.lazyload').lazy();
                $('iframe[data-src]').Lazy();
            });
        </script>
    </body>
</html>