{% load static %}
<!DOCTYPE html>
<html lang="vi" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Cao Gừng Chính Hãng Mua Ở Đâu?</title>
        <meta name="description" content="Cao Gừng Chính Hãng Mua Ở Đâu? Đến ngay Tổng Đại Lý Phân Phối Cao Gừng Thiên Nhiên Việt - ANN khu vực TPHCM để mua hàng chính hãng đảm bảo uy tín!" />
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="theme-color" content="#317EFB"/>
        <meta name="google-site-verification" content="K9d7tO7kYSrEC7nCxO93o5f9rw2N09yEeYIPKDZ1dLM" />
        <link rel="canonical" href="https://store.caogungdepdang.com/" />
        <link href="https://fonts.googleapis.com/css?family=Baloo" rel="stylesheet" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />
        <link href="{% static 'css/theme-landingpage.css' %}" rel="stylesheet" />
    </head>
    <body>
        <div id="wap">
            <div id="section_0">
                <div class="container">
                    <div class="text-center mb-30">
                        <a href="https://store.caogungdepdang.com">
                            <img class="lazyload" data-src="{% static 'images/logo-landingpage.png' %}"/>
                        </a>
                    </div>
                    <div class="title_header text-center font-bold c-w">
                        <h1>CAO GỪNG ĐẸP DÁNG</h1>
                    </div>
                    <div class="row mb-30">
                        <div class="col-lg-6 product-description">
                            <div class="box_info_pro">
                                <h2 class="h2_title">CAO GỪNG THIÊN NHIÊN VIỆT</h2>
                                <p class="pb-25">Gần nữa năm nay, CAO GỪNG là sản phẩm làm đẹp rất được ưa chuộng trên thị trường.</p>
                                <p class="pb-25">* Lưu ý: Kết quả tùy thuộc vào cơ địa của mỗi người.</p>
                                <img class="lazyload" data-src="{% static 'images/header_bg.png' %}"/>
                                <div class="price_">Giá: 380.000 vnd</div>
                                <div class="des_h">
                                    <p class="instock">Còn hàng, Miễn phí vận chuyển</p>
                                </div>
                                <div class="more_ mt-30">
                                    <a href="/gio-hang">MUA NGAY</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <img class="lazyload" data-src="{% static 'product-images/cao-gung-tan-mo-logo-banner.png' %}"/>
                            <div class="more_">
                                <a href="tel:0914615408">HOTLINE: 0914.615.408</a>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>

            <div class="full_width mt-20 mb-30">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="col-inner">
                                <div class="img has-hover x md-x lg-x y md-y lg-y">
                                    <div class="img-inner dark">
                                        <img class="lazyload" data-src="{% static 'images/combo-1-hop-cao-gung.jpg' %}"/>
                                    </div>
                                </div>
                                <div class="pricing-table-wrapper">
                                    <div class="pricing-table ux_price_table text-center box-shadow-3-hover">
                                        <div class="pricing-table-header">
                                            <div class="title uppercase strong">1 hộp Cao Gừng</div>
                                            <div class="price is-xxlarge">380,000 vnd/hộp</div>
                                        </div>
                                        <div class="pricing-table-items items">
                                            <div class="bullet-item"><span class="text">Dùng 1 tháng</span></div>
                                            <div class="bullet-item"><span class="text">Miễn phí giao hàng</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="col-inner featured-table">
                                <div class="img has-hover x md-x lg-x y md-y lg-y">
                                    <div class="img-inner dark">
                                        <img class="lazyload" data-src="{% static 'images/combo-2-hop-cao-gung.jpg' %}"/>
                                    </div>
                                </div>
                                <div class="pricing-table-wrapper">
                                    <div class="pricing-table ux_price_table text-center box-shadow-3-hover">
                                        <div class="pricing-table-header">
                                            <div class="title uppercase strong">Combo 2 Hộp Cao Gừng</div>
                                            <div class="price is-xxlarge">380,000 vnd/hộp</div>
                                        </div>
                                        <div class="pricing-table-items items">
                                            <div class="bullet-item"><span class="text">Dùng 2 tháng</span></div>
                                            <div class="bullet-item"><span class="text">Miễn phí giao hàng</span></div>
                                            <div class="bullet-item"><span class="text">Tặng 1 đai nịt bụng 180.000 vnd</span></div>
                                            <div class="bullet-item"><span class="text strong">*Khuyên chọn</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="col-inner">
                                <div class="img has-hover x md-x lg-x y md-y lg-y">
                                    <div class="img-inner dark">
                                        <img class="lazyload" data-src="{% static 'images/combo-2-hop-cao-gung.jpg' %}"/>
                                    </div>
                                </div>
                                <div class="pricing-table-wrapper">
                                    <div class="pricing-table ux_price_table text-center box-shadow-3-hover">
                                        <div class="pricing-table-header">
                                            <div class="title uppercase strong">Combo 3 hộp Cao Gừng</div>
                                            <div class="price is-xxlarge">305,000 vnd/hộp</div>
                                        </div>
                                        <div class="pricing-table-items items">
                                            <div class="bullet-item is-disabled"><span class="text">Giá Gốc 380,000 vnd /Gram</span></div>
                                            <div class="bullet-item"><span class="text">Dùng 3 tháng</span></div>
                                            <div class="bullet-item"><span class="text strong">Tính ngay giá sỉ</span></div>
                                            <div class="bullet-item"><span class="text">Miễn phí giao hàng</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="section_6" class="full_width pt-30 pb-30">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="note_ad"><p>Địa chỉ: 68 Đường C12, Phường 13, Tân Bình, TP.HCM</p></div>
                            <div class="note_ad"><p>Điện thoại: 0914.615.408 - 0915.400.401</p></div>
                            <div class="note_ad"><p>Email: tranyenngoc9x@gmail.com</p></div>
                        </div>
                        <div class="col-lg-4">
                            <ul class="menu">
                                <li><a href="https://store.caogungdepdang.com" rel="nofollow">Trang chủ</a></li>
                                <li><a href="https://store.caogungdepdang.com/chinh-sach-van-chuyen" rel="nofollow">Chính sách vận chuyển</a></li>
                                <li><a href="https://store.caogungdepdang.com/chinh-sach-doi-tra" rel="nofollow">Chính sách đổi trả hàng</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-4">
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <script>
            function submitForm(){
                document.getElementById("form-register").submit();
            }
        </script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.10/jquery.lazy.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.10/plugins/jquery.lazy.youtube.min.js"></script>
        <script type="text/javascript" charset="utf-8">
            $(function() {
                $('.lazyload').lazy();
                $("iframe[data-src]").Lazy();
            });
        </script>
    </body>
</html>